@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas');
    src: local('☺'), url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue');
    src: local('☺'), url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light');
    src: local('☺'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}